/* 
* {
    margin: 0px;
    padding: 0px;
} */



/* font-style-guide */

.fira-sans-normal {
    font-family: "Fira Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* shared-style */

.btn-primary {

    /* width: 280px;
    height: 56px; */
    align-items: center;
    padding: 16px 32px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border: none;


}

.description-text {
    color: #565656;
}

.btn-secondary {

    /* width: 120px;
    height: 52px; */

    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;

    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background: #D3E7E2;
}





/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 160px;
}

.nav-title {
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
}


/* banner-styles */

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 80px 60px;
    margin: 0px 160px;
    border-radius: 24px;
}

.sub-title {
    /* color: #878787; */
    color: #0E0E0E;
    opacity: 50%;
    font-size: 24px;
    font-weight: 500;
    /* line-height: 29px;
    letter-spacing: 0%; */
    text-align: left;
}

.banner-title {
    /* width: 610px;
    height: 201px; */
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    /* line-height: 67px;
    letter-spacing: 0%; */
    text-align: left;

}

.banner-content {
    max-width: 610px;
}

.banner-picture {
    width: 474px;
    height: 400px;
}